/*------------------------------------*\
    Sizes
\*------------------------------------*/
$bp-1: 500px;
$bp-2: 700px;
$bp-3: 900px;
$bp-4: 1100px;
$bp-5: 1300px;
$bp-6: 1500px;
$bp-7: 1700px;

$bp-menu: $bp-3;

// spacing
$spacing: 2em;

/*------------------------------------*\
    Font Variables
\*------------------------------------*/
// $copy-face: 'EB Garamond', serif;
$copy-face: 'Stylish', sans-serif;
$headings-face: 'Stylish', sans-serif;
$headings-weight: normal;

/*------------------------------------*\
    Colours - some dan-develops-wp defaults
\*------------------------------------*/
$white: #fff;
$grey-lightest: #dfdfdf;
$grey-light: #cbcbcb;
$grey: #666666;
$grey-dark: #555555;
$grey-darkest: #333333;
$black: #111111;

$copy: $black;

$primary: #53c9c8;
$secondary: #7a53c9;

// Backgrounds
$canvas-light: #fcfcfc;
$canvas-medium: #f6ebdf;
$canvas-dark: $grey-dark;

/*------------------------------------*\
    Gutenberg color options
\*------------------------------------*/
// -- see editor-color-palette in gutenberg-settings.php
$colors: (
  white: $white,
  black: $black,
  grey: $grey,
  primary: $primary,
);

@each $name, $color in $colors {
  .has-#{"" + $name}-color {
    color: $color;
  }

  .has-#{"" + $name}-background-color {
    background-color: $color;
  }
}
