.footer {
	a {
		text-decoration: none;
	}
	
	&__inner {
		@include center-block;
		width: 95%;
		padding-top: 40px;
		padding-bottom: 40px;
		border-top: 1px solid $grey-light;
		display: flex;
		justify-content: space-between;
	}

	&__legal {

		.footer-nav {
			margin-bottom: 20px;
		}
	}
	
	
	&__social {// ul
		list-style: none;
		padding-left: 0;
		display: flex;
		margin-top: 0;
		margin-bottom: 0;
		
		li {
			margin-left: 0.75em;
		}
		
		.icon {
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			
			&::before {
				width: 3em;
				height: 3em;
			}
		}
	}
	
}