.site-header {
  background-color: $white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.header__inner {
  @include center-block;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.menu-button {
	width: 100px;
	flex-shrink: 0;

	text-align: left;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.site-branding {
	display: flex;
	justify-content: center;
  width: calc(100% - 200px);
  text-align: center;
  flex-shrink: 1;

  &__title {
	@include hide-visually;
  }

  &__logo {
	display: block;
	width: 170px;
	height: 30px;
	max-width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/forestfloor-wordmark.png);

  }
}

.woo-nav {
	width: 100px;
	flex-shrink: 0;
}

