.site-header {
	z-index: 1;
	background-color: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.logged-in.admin-bar & {
		top: 32px;
	}
}

.header__inner {
	@include center-block;
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

// .menu-button {
// 	width: 100px;
// 	flex-shrink: 0;

// 	text-align: left;
// 	background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0;
// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;
// }

.site-branding {
	text-decoration: none;
	
	&__title {
		// @include hide-visually;
		margin: 0 !important;
		letter-spacing: 1.5px;
		color: $black;
	}

//   &__logo {
// 	display: block;
// 	width: 140px;
// 	height: 30px;
// 	max-width: 100%;
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	background-image: url(../../assets/images/forestfloor-wordmark.png);
//   }
}


.woo-nav {
	flex-shrink: 0;
}

