.site-header {
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header__inner {
	@include center-block;
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.site-branding {
	text-decoration: none;
	
	&__title {
		// @include hide-visually;
		margin: 0 !important;
		letter-spacing: 1.5px;
		color: $copy;
		padding-bottom: 4px;
	}
}


.woo-nav {
	flex-shrink: 0;
}

