/*********************************************************
## Custom font sizing
*********************************************************/
p.has-small-font-size {
  font-size: em(14);
}

p.has-regular-font-size {
  font-size: em(16);
}

p.has-large-font-size {
  font-size: em(18);
}

/*********************************************************
## Columns
*********************************************************/
.wp-block-columns {
	@include center-block;
	width: 95%;
	max-width: $bp-6;
	.wp-block-column {
		margin-bottom: 2em;
	}
}

/*********************************************************
## Quote and Pullquote blocks 
*********************************************************/
.wp-block-quote,
.wp-block-quote.is-style-large {
	padding: 0 3em;
	border-left: 6px solid $primary;
	color: $primary;
	margin-top: 2em;
	margin-bottom: 2em;
	
	p {
		font-size: 1.25rem !important;
		padding-right: 2em;
  }
}

.wp-block-quote {
  p {
    font-size: 1.25em;
  }
}

/*********************************************************
## Media+Text block
*********************************************************/
.wp-block-media-text {
  .wp-block-media-text__content {
    padding: 0;
    margin-bottom: 1em;
  }

  .wp-block-media-text__media {
    margin-bottom: 1em;
  }

  @include mq(600px) {
    .wp-block-media-text__content {
      padding: 0 $spacing;
      margin-bottom: 0;
    }

    .wp-block-media-text__media {
      margin-bottom: 0;
    }
  }
}

/*********************************************************
## image block
*********************************************************/
.wp-block-image {

	.wp-block-columns & {
		margin-bottom: 0;
	}

	img {
		display: block;
	}
}

/*********************************************************
## Embed blocks
*********************************************************/
figure {
  margin: 0;
}

/*********************************************************
## File block
*********************************************************/
.wp-block-file {

	a {// text link
		font-size: 1.5rem;
	}

	&__button {
		@extend .button;
	}
}

