.gig-listing {
	margin-top: 60px;
	margin-bottom: 60px;

	&__heading {
		margin-top: 0;
		text-align: center;
	}

	&__inner {// ul
		list-style: none;
		padding-left: 0;
		margin-top: 30px;
	}

	&__item {// li
		padding: 15px 20px;
		border-bottom: 1px solid $grey-lightest;
		// &:first-of-type {
		// 	border-top: 1px solid $grey-lightest;
		// }

		&-header {
			position: relative;
			cursor: pointer;
			padding-right: 2em;
			color: $grey-darkest;

			&::after {
				content: "";
				position: absolute;
				right: 1em;
				top: 50%;
				height: 0.75em;
				width: 0.75em;
				border-style: solid;
				border-width: 0.2em 0.2em 0 0;
				border-color: $grey;
				transform: rotate(135deg);
				transition: transform 0.3s ease;
				transform-origin: 80% 30% 0;

				.item-expanded & {
					transform: rotate(-45deg);
				}
			}
		}

		&-heading {
			margin-top: 0;
			margin-bottom: 0;
			font-family: $copy-face;
		}

		&-venue {
		}

		&-date {
			color: $grey;
			line-height: 1;	
			font-size: 1.1rem !important;
		}

		&-content {
			display: none;
			position: relative;
			margin-top: 20px;
			padding-bottom: 50px;

			&-wrapper {	
				@include mq($bp-2) {
					display: flex;
				}
			}

			img {
				@include mq($bp-2) {
					flex: 0 0 300px;
					margin-right: 40px;
				}
			}
		}

		&-description {
			margin-top: 20px;
			padding-right: 20px;
		}

		&-close {
			display: block;
			height: 1em;
			width: 1em;
			margin-top: 1.5em;
			position: absolute;
			right: 1em;
			bottom: .5em;
			opacity: 1;

			&:hover {
				opacity: 0.5;
			}
			&:before,
			&:after {
				position: absolute;
				left: 0.5em;
				content: " ";
				height: 1.25em;
				width: 2px;
				background-color: $grey;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}
  