.gig-listing {
	padding-top: 100px;

	&__heading {
		margin-top: 0;
	}


	&__inner {// ul
		list-style: none;
		padding-left: 0;
	}


	&__item {// li
		padding-top: 20px;

		&-header {
			position: relative;
			cursor: pointer;
			padding-right: 2em;

			&::after {
				content: "";
				position: absolute;
				right: 1em;
				top: 50%;
				height: 0.75em;
				width: 0.75em;
				border-style: solid;
				border-width: 0.2em 0.2em 0 0;
				border-color: $grey;
				transform: rotate(135deg);
				transition: transform 0.3s ease;
				transform-origin: 80% 30% 0;

				.item-expanded & {
					transform: rotate(-45deg);
				}
			}
		}

		&-heading {
			margin-top: 0;
			margin-bottom: 0;
		}

		&-content {
			display: none;
		}

		&-close {
			display: block;
			height: 1em;
			width: 1em;
			margin-top: 1.5em;
			position: relative;
			opacity: 1;

			&:hover {
				opacity: 0.5;
			}
			&:before,
			&:after {
				position: absolute;
				left: 0.5em;
				content: " ";
				height: 1.5em;
				width: 2px;
				background-color: $grey;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}
  