.hero {
  @include image-background;
  overflow: hidden;
  width: 100vw;
  height: 200px;
  margin-bottom: 2em;
	// filter: contrast(30%);
	// filter: saturate(30%);

	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0; right: 0;
	// 	top: 0; bottom: 0;
	// 	background: rgba(230, 185, 38, 0.8);
	// }

  // make height proportional between smallest and largest image size heights
  @include mq(600px) {
    height: 0;
    padding-bottom: 33vw;
  }

  // lose proportional height when image maxes out
  @include mq(2200px) {
    height: 700px;
    padding-bottom: 0;
  }
}
