/*--------------------------------------------------------------
## Utilities
--------------------------------------------------------------*/
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/placeholders";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/reset";
@import "base/elements";
@import "base/media";
@import "base/accessibility";
@import "base/icomoon";

/*--------------------------------------------------------------
# JS modules
--------------------------------------------------------------*/
@import "js-modules/responsive-menu";
@import "js-modules/user-tabbing";
// @import "js-modules/dropdown-menu";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/global";
@import "layout/header";
@import "layout/footer";
// @import "layout/sidebar";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/menu-header";
@import "components/social-icons";
// @import "components/pagination";
// @import "components/widgets";
// @import "components/comments";
// @import "components/search-form";

/*--------------------------------------------------------------
# Core Blocks
--------------------------------------------------------------*/
@import "core-blocks/core-blocks";